<!DOCTYPE html>
<html lang="zxx">

    <head>

        <!-- Meta tag Keywords -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <meta name="keywords"
            content="Flat lay login form Responsive web template, Bootstrap Web
            Templates, Flat Web Templates, Android Compatible web template,
            Smartphone Compatible web template, free webdesigns for Nokia,
            Samsung, LG, SonyEricsson, Motorola web design" />
        <!-- //Meta tag Keywords -->

        <link
            href="//fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap"
            rel="stylesheet">

        <!--/Style-CSS -->
        <link rel="stylesheet" href="/css2/style.css" type="text/css"
            media="all" />
        <!--//Style-CSS -->

        <script src="https://kit.fontawesome.com/af562a2a63.js"
            crossorigin="anonymous"></script>

    </head>

    <body>
        <!-- form section start -->
        <section class="w3l-workinghny-form" style="margin-top:-6%">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="wrapper">
                    <div class="logo">
                        <h1><a class="brand-logo" href="/login">User Login</a></h1>
                        <!-- if logo is image enable this   
                        <a class="brand-logo" href="#index.html">
                            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                        </a> -->
                    </div>
                    <div class="workinghny-block-grid">
                        <div class="form-right-inf">

                            <div class="login-form-content">
                                <h2>Login with OTP</h2>
                                <form action="/otpLogin" id="otplogin"
                                    method="POST">
                                    <div class="form-group mb-3">
                                        <input id="inputmobileno" type="text"
                                            placeholder="MOBILE NUMBER"
                                            required="true" autofocus=""
                                            name="MobileNumber"
                                            class="form-control rounded-pill
                                            border-0 shadow-sm px-4">
                                        <button type="submit" class="btn
                                            btn-danger btn-block text-uppercase
                                            mb-2 rounded-pill shadow-sm">Send
                                            OTP</button>
                                    </div>
                                </form>
                                <form action="/verifyOtp" id="otplogin"
                                    method="POST">
                                    <div class="form-group mb-3">
                                        <input id="inputmobileno" type="text"
                                            placeholder="OTP" required="true"
                                            autofocus="" name="otp"
                                            class="form-control rounded-pill
                                            border-0 shadow-sm px-4">
                                        <button type="submit" class="btn
                                            btn-danger btn-block text-uppercase
                                            mb-2 rounded-pill shadow-sm">LOgin
                                            with
                                            OTP</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
            <!-- copyright-->

            <!-- //copyright-->
        </section>
        <!-- //form section start -->
    </body>

</html>