<!DOCTYPE html>
<html lang="zxx">

<head>
 <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Flat lay login form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->

    <link href="//fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">

    <!--/Style-CSS -->
    <link rel="stylesheet" href="/css2/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>
</head>
<body>
{{!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <div class="container mt-5 pl-5">
                    <h2 class="text-center">Create New Account</h2>
                    <form action="/signup" method="post" style="width: 27%;margin-left:37%">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="Name" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="Email" placeholder="Enter Email">
                        </div>

                         <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="Password" placeholder="Password">
                        </div>
                         <div class="form-group">
                            <label>Mobile</label>
                            <input type="number" class="form-control" name="Mobile" placeholder="Mobile">
                        </div>
                        <div class="form-group">
                            
                            <input type="hidden" class="form-control" name="Status" placeholder="Mobile" value="Active">
                        </div>
                        <a href="/login">Already have Account?</a>
                        <button type="submit" class="btn btn-primary float-right">Signup</button>

                    </form>
                   <br>
                   <br>
                </div>
            </div>
        </div>
    </div>

</section> --}}
<section class="w3l-workinghny-form" style="margin-top:-6%">
        <!-- /form -->
        <div class="workinghny-form-grid" > 
            <div class="wrapper">
                <div class="logo">
                    <h1><a class="brand-logo" href="/login">User Login</a></h1>
                    <!-- if logo is image enable this   
                        <a class="brand-logo" href="#index.html">
                            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                        </a> -->
                </div>
                <div class="workinghny-block-grid">
                    <div class="form-right-inf">
                       
                       <div class="login-form-content">
                            <h2>Create New Account</h2>
                            <form action="/signup"class="signin-form" method="post">
                           
                                <div class="one-frm">
                                      <label>Name</label>
                            <input type="text" class="form-control" name="Name" placeholder="Enter Name">
                        </div>
                                <div class="one-frm">
                                     <label>Password</label>
              <input type="password" class="form-control" name="Password" placeholder="Password">
          </div>
                                <label class="check-remaind">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                    <p class="remember">Remember Me</p>

                                </label>
                                <a href="/signup">Create a new accont?</a>

            <button type="submit" class="btn btn-primary float-right">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //form -->
        <!-- copyright-->
        
        <!-- //copyright-->
    </section>
    <!-- //form section start -->
</body>
</html>